/*
 * Admin dashboard styles
 */

#dashboard-widgets .years-ago-today-posts {
	list-style-position: inside;
}

#dashboard-widgets .years-ago-today-year {
	font-weight: bold;
}

#dashboard-widgets .years-ago-today-posts li:not(.years-ago-today-year) {
	margin-left: 30px;
	list-style: initial;
}

#dashboard-widgets .years-ago-today-posts li:not(.years-ago-today-year)::marker {
	color: var(--wp-admin-theme-color, currentColor);
}

/*
 * Profile styles
 */

#years-ago-today-content-type {
	margin-top: 1em;
}

#years-ago-today-content-type[disabled] {
	opacity: .5;
}

#years-ago-today-content-type[disabled] input {
	cursor: not-allowed;
}

#years-ago-today-content-type .description {
	color: #646970;
}
